/* N-Counter CSS file. */


.navbar-right{
	font-size: 20px;
}

.navbar-brand{
	padding:0px;
}
/* z-index sets the opacity layer behind the other elements */
.opacity{
	position: absolute;
	height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index : 1;
}

.landingPageLogo{
	max-width:100%;
	position: relative;
	z-index: 2;
}

.opacityRaiser{
	position: relative;
	z-index:2;
}

/* Keeps the Arrow @ bottom of page*/
.exploreButton{
	display: block;
  position: absolute;
  width: 100%;
	bottom:50px;
}

/* video margin */
.embed-responsive{
	margin-top:75px;
	margin-bottom:75px;
}

.indexHeight{
	height:120px;
}


.inspired{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/img/inspired.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.excited{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/img/excited.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.involved{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/img/involved.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.activePage{
	background-color: #f0644b;
}

.newsLetter {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  background: #f0644b;
  padding: 10px 22px 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.newsLetter:hover {
  background-color: #d85a43;
  text-decoration: none;
  color: #ffffff;
}

.joinUsNewsletter{
	margin-top: 13px;
	margin-bottom: 30px;
}

/* corrects the spacing in the Join Us Campaigns */
.joinUsSpacing{
	margin-bottom:30px;
}


/*Block Quote...  Removes grey border*/
blockquote{
	border-left: 0px;
}

.blockquote-reverse{
	border-right: 0px;
}

/* Colors the quotes theme color */
.fa-quote-left{
	color:#F0644B;
}

.fa-quote-right{
	color:#F0644B;
}


/* informed image portfolio */
.informed-image-portfolio{
	height: 289px;
	width: 386px;
	background-size: cover;
	background-position: center center;
	margin:2px;	
}


/* Informed Portfolio Spacing Modification */
.col-md-4Image, 
.col-sm-6Image{
	position: relative;
  min-height: 1px;
	padding-right: 1px;
	padding-left: 1px;
}

@media (min-width: 992px) {
	.col-md-4Image, 
	.col-sm-6Image{
		 float: left;
	}
	
	.col-md-6Image {
    width: 50%;
  }
  
  .col-md-4Image{
    width: 33.33333333%;
	}
}

/* - FOOTER MODIFICATIONS -
	 - cite: http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/
 */

.footer-distributed{
	background-color: #366B73;
	box-sizing: border-box;
	text-align:center;
	font:"N-Counter Paragraph";
}

.footer-distributed .footer-1,
.footer-distributed .footer-2,
.footer-distributed .footer-3,
.footer-distributed .footer-4{
	display: inline-block;
	vertical-align: middle;
}

.footer-1{
	width:23%;
	height:70px;
	position: relative;
}

.footer-2{
	width:23%;
	height:70px;	
	position: relative;	
}

.footer-3{
	width:23%;
	height:70px;	
	position: relative;	
}

.footer-4{
	width:23%;
	height:70px;	
	position: relative;	
}

.socialFooterCentering{
	margin-top: 15px;
}

.newsletterFooterCentering{
	margin-top: 20px;
}

.thirdFooterCentering{
	margin-top: 5px;
}
/* - This query is a little large, but keeps the newsletter button on a single line and doesn't break it up. */

@media (max-width: 1000px) {
  .footer-distributed .footer-1,
	.footer-distributed .footer-2,
	.footer-distributed .footer-3,
	.footer-distributed .footer-4{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}	
}







