/* N-Counter CSS file. */


.navbar-right{
	font-size: 16px;
}
        

.opacity{
	position: absolute;
	height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index : 1;
}

.landingPageLogo{
	max-width:100%
	position: relative;
	z-index: 2;
}

.inspired{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/dev/img/inspired.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.excited{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/dev/img/excited.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.involved{
		background-attachment: /*fixed,*/ scroll;
    background-image: url(/dev/img/involved.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Thought of trying to add a drop shadow. Still need to work this out. 
.img_thumbnail{
	box-shadow: 3px 3px 1px #888888
}
*/

.activePage{
	background-color: #f0644b;
}

.newsLetter {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  background: #f0644b;
  padding: 10px 22px 10px 22px;
  text-decoration: none;
}

.newsLetter:hover {
  background-color: #d85a43;
  text-decoration: none;
  color: #ffffff;
}

/* - FOOTER MODIFICATIONS -
	 - cite: http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/
 */

.footer-distributed{
	background-color: #366B73;
	box-sizing: border-box;
	text-align:center;
	font:"Source Sans Pro";
}

.footer-distributed .footer-1,
.footer-distributed .footer-2,
.footer-distributed .footer-3,
.footer-distributed .footer-4{
	display: inline-block;
	vertical-align: middle;
}

.footer-1{
	width:23%;
	height:70px;
	position: relative;
}

.footer-2{
	width:23%;
	height:70px;	
	position: relative;	
}

.footer-3{
	width:23%;
	height:70px;	
	position: relative;	
}

.footer-4{
	width:23%;
	height:70px;	
	position: relative;	
}
/* - This query is a little large, but keeps the newsletter button on a single line and doesn't break it up. */

@media (max-width: 1000px) {
  .footer-distributed .footer-1,
	.footer-distributed .footer-2,
	.footer-distributed .footer-3,
	.footer-distributed .footer-4{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}	
}







