/* N-Counter CSS file. */

.btn{
	color:F0644B;
}

.navbar-right{
	font-size: 16px;
}


/* Allows for mobile devices to have headers span two lines. 
 * cite: http://danielmall.com/articles/responsive-line-breaks/demo-span/
 * must be implemented with:  <h1><span class="rwd-line">You don&rsquo;t understand! I coulda had class.</span> <span class="rwd-line">I coulda been a contender.</span></h1>
 */
.rwd-line { display: block; }
        
@media screen and (min-width: 768px){
 .rwd-line { display: inline; }
}
        
/* Header manipulation opacity */
header {
	background-attachment: fixed;
}

.opacity{
	position: absolute;
	height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.25;
}

.inspired{
		background-attachment: scroll;
    background-image: url(/dev/img/inspired.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.excited{
		background-attachment: scroll;
    background-image: url(/dev/img/excited.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.involved{
		background-attachment: scroll;
    background-image: url(/dev/img/involved.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}