{{!
  page: 'resources',
  pageName: 'Resources',
  pageAction: '',
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Be Prepared" subheading="Guides and Necessary Documents"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">   
      <table class="table table-striped announcement-table">
        <tbody>
          <tr>
            <td class="resource-thumbnail-column"><a href="/assets/doc/2016_N-Counter_Gameplan.pdf" target="_blank"><img src='/assets/img/resources/doc-thumb-gameplan.png' width=244 /></a></td>
            <td class="resource-description-column">Use the GamePlan to navigate your way to N-Counter step-by-step.</td>
          </tr>
          <tr>
            <td class="resource-thumbnail-column"><a href="/assets/doc/2016_N-Counter_Adult_Permission_Form.pdf" target="_blank"><img src='/assets/img/resources/doc-thumb-adult-permission.png' width=146 /></a></td>
            <td class="resource-description-column">Adult Permission Form</td>
          </tr>
          <tr>
            <td class="resource-thumbnail-column"><a href="/assets/doc/2016_N-Counter_Youth_Permission_Form.pdf" target="_blank"><img src='/assets/img/resources/doc-thumb-youth-permission.png' width=146 /></a></td>
            <td class="resource-description-column">Youth Permission Form</td>
          </tr>
        </tbody>
      </table>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}