{{!
  page: 'resources',
  pageName: 'Resources',
  pageAction: '',
  resources: [{
    docUrl: '/assets/doc/2016_N-Counter_Gameplan.pdf',
    thumbUrl: '/assets/img/resources/doc-thumb-gameplan.png',
    thumbWidth: 244,
    description: 'Use the GamePlan to navigate your way to <span style="white-space: nowrap">N-Counter</span> step-by-step. <strong>Revised March 22, 2016</strong>.'
  }, {
    docUrl: '/assets/doc/2016_N-Counter_Adult_Permission_Form.pdf',
    thumbUrl: '/assets/img/resources/doc-thumb-adult-permission.png',
    thumbWidth: 146,
    description: 'Adult Permission Form (signature required on both pages)'
  }, {
    docUrl: '/assets/doc/2016_N-Counter_Youth_Permission_Form.pdf',
    thumbUrl: '/assets/img/resources/doc-thumb-youth-permission.png',
    thumbWidth: 146,
    description: 'Youth Permission Form (single signature required)'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="A Word from Our Hosts" subheading="How hear to prepare from our pre-event webinar" sectionClass="home-callouts-wrapper"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="announcement">
        CSB President Scott Haima interviews our speaker Chuck Stecker and the chair of our steering committee, Michael English. Their goal is to prepare and encourage both spiritually and practically those who have registered.
      </p>
    </div>
  </div>
  <div class="row" style="position: relative;"> 
    <div class="col-md-8 col-md-offset-2">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HJjRLBaokgY?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}  

  {{#> pageSection heading="Tenting Area" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fhdQ1vXN074?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Guides and Necessary Documents" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">   
      <table class="table table-striped announcement">
        <tbody>
          {{#each resources}}
          <tr>
            <td class="resource-thumbnail-column"><a href="{{docUrl}}" target="_blank"><img src='{{thumbUrl}}' width={{thumbWidth}} /></a></td>
            <td class="resource-description-column">{{{description}}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}