.resources {
  background-image: url(/assets/img/resources.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}

.resource-thumbnail-column {
  text-align: center;
}

.resource-description-column {
  vertical-align: middle !important;
}
