{{!
  page: 'inspired',
  pageName: 'Get Inspired',
  events2011: [{
    event: 'Torch Lighting and Bonfire',
    unit: '306', 
    church: 'Cedar Crest Bible Fellowship, Allentown',
    state: 'PA'
  }, {
    event: 'Fire Building without Matches',
    unit: '467', 
    church: 'Calvary Baptist Church, Bristol',
    state: 'PA'
  }, {
    event: 'Support Staff for Saturday BBQ',
    unit: '518', 
    church: 'Randall Baptist Church, Williamsville',
    state: 'NY'
  }, {
    event: 'Tomahawk Throw',
    unit: '555', 
    church: 'Forcey Memorial Church, Silver Spring',
    state: 'MD'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '741', 
    church: 'Open Bible Christian Ministries, Kingsville',
    state: 'MD'
  }, {
    event: 'Airsoft Target Shooting',
    unit: '997', 
    church: 'Bethlehem Church, Randolph',
    state: 'NJ'
  }, {
    event: 'Ultimate Frisbee',
    unit: '1180', 
    church: 'North-Mar CMA, Warren',
    state: 'OH'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '1292', 
    church: 'Calvary Evangelical Free, Essex Fells',
    state: 'NJ'
  }, {
    event: 'ASE: Team Building',
    unit: '1943', 
    church: 'First Baptist, Tom\'s River',
    state: 'NJ'
  }, {
    event: 'Orienteering',
    unit: '2733', 
    church: 'Trinity Bible Church, Rock Hill',
    state: 'SC'
  }, {
    event: 'Winter Survival Skills',
    unit: '2760', 
    church: 'Allegheny Center Alliance, Pittsburgh',
    state: 'PA'
  }, {
    event: 'California Initiative',
    unit: '3123', 
    church: 'Central Valley',
    state: 'CA'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '3560', 
    church: 'Dix Hills Evangelical Free, Huntington Station',
    state: 'NY'
  }, {
    event: 'Meteor Shower',
    unit: '3698', 
    church: 'Wesleyan Church of Hamburg',
    state: 'NY'
  }, {
    event: 'Snowshoe/Biathlon',
    unit: '4389', 
    church: 'Woodlyn Baptist, Woodlyn',
    state: 'PA'
  }, {
    event: 'Support Staff',
    unit: '4743', 
    church: 'Evangelical Presbyterian of Annapolis',
    state: 'MD'
  }, {
    event: 'Classic Bicycles',
    unit: '4889', 
    church: 'Rutherford Bible Church',
    state: 'NJ'
  }, {
    event: 'Sling Shot',
    unit: '6153', 
    church: 'Montgomery Baptist Church, Colmar',
    state: 'PA'
  }, {
    event: 'Skeet Shooting',
    unit: '6468', 
    church: 'Chapelgate Presbyterian Church, West Friendship',
    state: 'MD'
  }, {
    event: 'Boomerangs',
    unit: '6831', 
    church: 'Columbia Presbyterian Church, Columbia',
    state: 'MD'
  }, {
    event: 'Bass Fishing/Casting',
    unit: '6995', 
    church: 'New Life in Christ Church, Fredericksburg',
    state: 'VA'
  }, {
    event: 'Fly Fishing',
    unit: '7077', 
    church: 'Manor Presbyterian, Cochranville',
    state: 'PA'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '7101', 
    church: 'Spencerport Bible Church',
    state: 'NY'
  }, {
    event: 'Soccer',
    unit: '7117', 
    church: 'Severna Park Evangelical Presbyterian',
    state: 'MD'
  }, {
    event: 'Kayak &amp; Canoe',
    unit: '7655', 
    church: 'Liberty Church PCA, Owings Mills',
    state: 'MD'
  }, {
    event: 'BBQ Dinner',
    unit: '7699', 
    church: 'Crossroads Christian, East Aurora',
    state: 'NY'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '7707', 
    church: 'Evangelical Free Church of Montrose',
    state: 'PA'
  }, {
    event: 'Trebuchet',
    unit: '7758', 
    church: 'Cornerstone Presbyterian, Kemblesville',
    state: 'PA'
  }, {
    event: 'Boat Buildling',
    unit: '7939', 
    church: 'Lafayette Alliance Church',
    state: 'NY'
  }, {
    event: 'Chaperones/Support Staff',
    unit: '7967', 
    church: 'Christian Faith Center, Bloomfield',
    state: 'NJ'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="What is N-Counter?" subheading="Once in a Battalion Career"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pT0FmVqjQ2k?rel=0" allowfullscreen></iframe>
      </div>
    </div>     
    <div class="col-md-6 newspaper-padding">
      <p>
        Battalions from regions far and wide bring an activity, a skill, a challenge, or a competition to share with the others.  Every young man heads into a non-stop adventure of one new experience after the next together with old friends and new.  Think “everything that is awesome about Battalion” in one place for one weekend.
      </p>
      <p>
        In the evening, all gather under one roof for a passionate worship ceremony followed by an awe-inspiring outdoor torchlight and bonfire event that leaves no one without personally encountering God.  This year the theme is “Press On” based on Philippians 3:12-16.
      </p>
      <p>
        Without any other event to compare to, the only way to get a taste of N-Counter is to see for yourself what is proving to be even bigger in 2016.  Don’t miss this “once in a Battalion career” event.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Responses from 2011"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12">
      <blockquote class="blockquote">
        <i class="fa fa-quote-left fa-2x"></i>  This weekend was Fantastic! And was everything I expected and hoped to accomplish on a personal and organizational level."
      </blockquote>
      <blockquote class="blockquote-reverse">
        "The speaker was an encouragement. Also, the Bible studies solidified our commitment to our unit and 'sharpening' each other.  <i class="fa fa-quote-right fa-2x"></i>
      </blockquote>
      <blockquote class="blockquote">
        <i class="fa fa-quote-left fa-2x"></i>  Great weekend. I wish more of our guys could have come."
      </blockquote>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Facts from 2011"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12 media">
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/inspired/largeGroup.jpg" alt="">
          </div>
          <div class="timeline-panel media">
            <div class="timeline-body">
              <div>
                <h4>A total of 472 young men attended the N-Counter 2011 event hosted at High Point Camp.</h4>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/inspired/battalion.jpg" alt="">
          </div>
          <div class="timeline-panel media">
            <div class="timeline-body">
              <div>
                <h4>The 472 attendees represented 29 battalion units located throughout 7 States.</h4>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/inspired/praise.jpg" alt="">
          </div>
          <div class="timeline-panel media">
            <div class="timeline-body">
              <div>
                <h4>Over the course of a weekend, 30 or more young men prayed to step out in faith and accept Christ to be their personal Lord and Savior.</h4>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" style="height:80px;">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/inspired/ceremony.jpg" alt="">
          </div>
          <div class="timeline-panel media">
            <div class="timeline-body">
              <div>
                <h4>An induction ceremony was held for 4 new Heralds of Christ recipients and 3 new Heralds of Christ for Men recipients.</h4>
              </div>
            </div>
          </div>
        </li> <!-- Closes the Last 'li' element in the document. -->
      </ul> <!-- closes the 'unordered list' --> 
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Activities from 2011"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12 media">
      <table class="table table-striped">
        <tr>
        <th>Event</th>
        <th>Unit</th> 
        <th>Church</th>
        <th>State</th>
        </tr>
        {{#each events2011}}
          <tr>
          <td>{{event}}</td>
          <td>{{unit}}</td> 
          <td>{{church}}</td>
          <td>{{state}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}