

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="N-Counter 2016 is a national event where Battalion units will be able to come together and experience an amazing weekend of activities, community, and fellowship.">
  <meta name="keywords" content="N-Counter 2016, Register, Weekend Event, CSB Ministries, Get Excited, Get Inspired, Get Involved,">
  <meta name="author" content="Towson Web Team">
    
  <title>N-Counter 2016</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link href="/assets/css/all.css" rel="stylesheet">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62661933-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body id="page-top" class="index">
  <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand " href="/"><img src='/assets/img/branding/navLogo.png' alt='CSB N-Counter Logo'></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="activePage" href="/">Home</a>
          </li>
          <li>
            <a class="" href="/about/">About</a>
          </li>
          <li>
            <a class="" href="/details/">Details</a>
          </li>
          <li>
            <a class="" href="http://news.csbncounter.org">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div class="opacity"></div>
    <div class="container">
      <div class="intro-text">
        <img class="landingPageLogo" src="/assets/img/branding/NCounterLogoBlue_200px.png" alt="CSB N-Counter Logo">
        <br><br><br><br><br>
        <div class="exploreButton">  
          <h3 style="color:#fff;">THANK YOU ALL FOR AN INCREDIBLE EVENT<br>Watch the weekend recap!</h3>
          <a href="#content-start" rel="relativeanchor" title="Navigate through the rest of the page" ><i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a>
        </div>
      </div>
    </div>
  </header>
  <div id="content-start" rel="relativeanchor">


<section>
  <div class="container home-callouts-wrapper">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">N-Counter 2016</h2>
        <h3 class="section-subheading text-muted">The Multi-Regional Battalion Event</h3>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12 short-announcement" id="registration-stats"></div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7VYJA0peTVE?rel=0" allowfullscreen=""></iframe>
  </div>
  </div>
</section>
<section>
  <div class="container ">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">N-Counter Current News</h2>
        <h3 class="section-subheading text-muted">Latest Announcements, Prayer Requests, and Event Details</h3>
      </div>
    </div>
  <div id="news" class="row"></div>
  <div class="row">
    <div class="col-sm-12 news-show-more news-show-more-wrapper">
      <button class="theme-button">Show Older Posts</button>
    </div>
  </div>
  </div>
</section>
  <footer id="footer" rel="relativeanchor">
    <div class="container">
      <div class="row, footer-distributed" >
        <div class="footer-1">
          <ul class="list-inline social-buttons socialFooterCentering">
            <li><a href="http://www.twitter.com/csbncounter" title="Twitter Link" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/events/1751932415033325/" title="Facebook Link" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/csbncounter/" title="Instragram Link" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://plus.google.com/u/0/102403965119926049149/about" title="Google + Link" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <div class="footer-2">
           <p class="newsletterFooterCentering"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter signup link" target="_blank" class="theme-button">Newsletter Signup</a> </p>
        </div>
        <div class="footer-3">
          <a href="mailto:info@csbncounter.org?Subject=Website Contact" target="_top">info@csbncounter.org</a>
          <br>
          <a href="https://www.google.com/maps?espv=2&biw=1363&bih=1140&q=200+Chapel+Rd,+Geigertown,+PA+19523&bav=on.2,or.r_cp.&bvm=bv.87611401,d.cWc&ion=1&um=1&ie=UTF-8&sa=X&ei=LCr9VKmIG_W_sQSVlIHQDw&ved=0CAYQ_AUoAQ" target="_blank">Event Location</a>
        </div> 
        <div class="footer-4">
          <a href="http://www.csbministries.org" title="CSB Ministries Home Website" target="_blank"><img alt="CSB Ministries logo" src="/assets/img/csb_logo-corporate.gif"></a>
        </div>
      </div>  
    </div>
  </footer>

  <script src="/assets/js/ncounter.js"></script>
<script id="news-item-tpl" type="text/html">
  <div class="col-md-4 col-sm-6 news-item">
    <a href="<%- url %>" class="news-link">
      <div class="news-hover"></div>
      <div style="background-image: url(<%- image %>); background-size: <%- imageSize %>;" class="news-item-bg"></div>
    </a>
    <div class="news-caption">
      <h4><a href="<%- url %>"><%- title %></a></h4>
      <p class="text-muted"><%- published %></p>
    </div>
  </div>
</script>
<script id="registration-stats-tpl" type="text/html">
  <div style="text-align:justify;max-width: 700px;margin-left:auto;margin-right:auto;line-height:1.6em">
  <p>
    <strong><%- data.registered %> registrants</strong> came from <strong><%- data.states %> states</strong>, representing <a href="/events"><strong><%- data.units %> units</strong></a>.  We thank all for their participation!
  </p>
  <p>
  Memories are overflowing, especially of the fellowship with brothers in the Lord.  Join us in these memories through the weekend recap video, just a small taste of what we experienced together in April at High Point Camp.
  </p>
  <p>
  Let us now continue to <em>Press On</em> together, as not just a Moment, but a Momentum--a Movement.
  </p>
  </div>
</script> 
<script>
  ncounter.home.setRandomBgImage('header');
  ncounter.news.fetchShowFirstPage('#news-item-tpl', '#news')
    .then(function (hasMore) {
      if (hasMore) {
        $('.news-show-more-wrapper').show()
      } else {
        $('.news-show-more-wrapper').hide()
      }
    });
  $('.news-show-more').click(function () {
    ncounter.news.fetchShowNextPage()
      .then(function (hasMore) {
        if (hasMore) {
          $('.news-show-more-wrapper').show()
        } else {
          $('.news-show-more-wrapper').hide()
        }
      });
  });
  ncounter.liveData.fetchShowRegistrationStats('#registration-stats-tpl', '#registration-stats');
</script>
</body>