{{!
  page: 'home',
  pageName: ''
}}

{{#> layout}}
{{#*inline "script"}}
<script src="dist/landing.js"></script>
<script id="portfolio-item-tpl" type="text/html">
  <div class="col-md-4 col-sm-6 portfolio-item">
    <a href="<%- url %>" class="portfolio-link">
      <div class="portfolio-hover"></div>
      <div style="background-image: url(<%- image %>); background-size: <%- imageSize %>;" class="portfolio-item-bg"></div>
    </a>
    <div class="portfolio-caption">
      <h4><a href="<%- url %>"><%- title %></a></h4>
      <p class="text-muted"><%- published %></p>
    </div>
  </div>
</script>
<script>
  ncounter.setRandomBgImage('header');
  ncounter.fetchRenderNews('#portfolio-item-tpl', '#portfolio-items');
</script>
{{/inline}}

{{#*inline "content"}}
<header>
  <div class="opacity"></div>
  <div class="container">
    <div class="intro-text">
      <img class="landingPageLogo" src='img/branding/NCounterLogoBlue_200px.png' alt='CSB N-Counter Logo'>
      <br><br><br><br><br>
      <div class="exploreButton opacityRaiser">  
        <h3 style="color:#fff;">Explore!</h3>
        <a href="#n-counter16" title="Navigate through the rest of the page" ><i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a>
      </div>
    </div>
  </div>
</header>
<section id="n-counter16">
  <div class="container" rel="relativeanchor">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">N-Counter 2016</h2>
        <h3 class="section-subheading text-muted">The Multi-Regional Battalion Event <br> April 29 - May 1, 2016 at High Point Camp near Birdsboro, PA</h3>
        <div id="n-counter-video" class="strong-statement">The purpose of N-Counter is to glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions.</div>
      </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GBrkLl1Kq-w?rel=0" allowfullscreen=""></iframe>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a href="/inspired.html"><img alt="Inspired Page Image" src="/img/inspired_thumb.jpg"></a>
        <h3 class="service-heading"><a href='/inspired.html'>Get Inspired</a></h3>
        <p class="text-muted">Many can recall the initial N-Counter of 2011 and how it gave them an unprecedented experience with 29 Brigade units from 7 states.  Come see what they shared and get inspired!</p>
      </div>
      <div class="col-md-4">
        <a href="/excited.html"><img alt="Excited Page Image" src="/img/excited_thumb.jpg"></a>
        <h3 class="service-heading"><a href='/informed.html'>Get Informed</a></h3>
        <p class="text-muted">We already have tremendous plans for 2016.  More CSB Battalion units, more people and more activities!  You’ll see the details develop here!</p>
      </div>
      <div class="col-md-4">
        <a href="/involved.html"><img alt="Involved Page Image" src="/img/involved_thumb.jpg"></a>
        <h3 class="service-heading"><a href='/involved.html'>Get Involved</a></h3>
        <p class="text-muted">We believe your Battalion has something to share, as well as much to gain by attending, N-Counter 2016!  Make it part of your calendar planning for April 29-May 1, 2016!  Find out how you can join the effort and prepare today to be with us in 2016!</p>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">N-Counter Current News </h2>
        <h3 class="section-subheading text-muted">Latest Announcements, Prayer Requests, and Event Details</h3>
      </div>
    </div>
    <div id="portfolio-items" class="row"></div>
  </div>
</section>

<section id="stayConnected">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Stay Connected</h2>
        <h3 class="section-subheading text-muted">Don’t miss a beat!  Stay up to date on developing news.</h3>
      </div>
    </div>
    <div class="col-md-12 text-center joinUsSpacing">
      <p class="text-muted strong-statement">Our newsletter is the official place to receive the latest information.  Sign up now for monthly access to critical details, timelines for registration, and for prayer requests.</p>
      <p class="joinUsNewsletter" rel="relativeanchor">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter Signup" target="_blank" class="newsLetter">Newsletter Signup</a>
      </p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 joinUsSpacing">
        <p class="social-buttons"><a href="http://www.twitter.com/csbncounter" title="Twitter Link" target="_blank"><i class="fa fa-twitter fa-4x"></i></a> </p>
        <p class="text-muted">Add N-Counter excitement and news tidbits to your daily feed.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
        <p class="social-buttons"><a href="https://www.facebook.com/events/1751932415033325/" title="Facebook Link" target="_blank"><i class="fa fa-facebook fa-4x"></i></a> </p>
        <p class="text-muted">A great place to share with your friends for conversation, news, memories from 2011, and excitement for 2016.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
        <p class="social-buttons"><a href="https://instagram.com/csbncounter/" title="Instragram Link" target="_blank"><i class="fa fa-instagram fa-4x"></i></a> </p>
        <p class="text-muted">Pictures and video; perhaps the best way to capture N-Counter.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
        <p class="social-buttons"><a href="https://plus.google.com/u/0/102403965119926049149/about" title="Google + Link" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></p>
        <p class="text-muted">We haven’t forgotten you, Google+.</p>
      </div>  
    </div>
  </div>
</section>
{{/inline}}
{{/layout}}