<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="N-Counter 2016 is a national event where Battalion units will be able to come together and experience an amazing weekend of activities, community, and fellowship.">
    <meta name="keywords" content="N-Counter 2016, Register, Weekend Event, CSB Ministries, Get Excited, Get Inspired, Get Involved,">
    <meta name="author" content="Towson Web Team">
		
    <title>N-Counter 2016: News</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

		<!-- N-Counter Custom CSS -->
		<link href="css/ncounter.css" rel="stylesheet">
   
		<!-- http://fontawesome.io/ icon link.css -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top"> 
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
								<a class="navbar-brand page-scroll" href="/index.html"><img src='img/branding/navLogo.png' alt='CSB N-Counter Logo'></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

						<!-- New NAV -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                    	  <a class="page-scroll activePage" href="/index.html">Home</a>
                    </li>
                    <li>
	                		<a class="page-scroll" href="http://news.csbncounter.org">News</a> <!-- activePage removed -->
                    </li>
                    <li>
                        <a class="page-scroll" href="/inspired.html">Get Inspired</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/informed.html">Get Informed</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/involved.html">Get Involved</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
     <div class="opacity"> </div>
        <div class="container">
            <div class="intro-text">
            		<img class="landingPageLogo" src='img/branding/NCounterLogoBlue_200px.png' alt='CSB N-Counter Logo'><br><br><br><br><br>
								<div class="exploreButton opacityRaiser"> <!-- Keeps the button at the bottom of the page and above the opacity layer-->  
	               <h3 style="color:#fff;">Explore!</h3>
	               <a href="#n-counter16" class="page-scroll"><i class="page-scroll fa fa-arrow-down fa-4x opacityRaiser"></i></a>

	              </div>
            </div>
        </div>
        
    </header>

    <!-- Sub page section w/ additional navigation -->
    <section id="n-counter16">
        <div class="container" rel="relativeanchor">

						<!-- Heading / Title -->  
						<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">N-Counter 2016</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            
            <!-- Video --> 
            <div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GBrkLl1Kq-w?rel=0" allowfullscreen=""></iframe>
            </div>
						<br><br>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/inspired.html"><img alt="Inspired Image" src="/img/inspired_thumb.jpg"></a>
                    <h3 class="service-heading"><a href='/inspired.html'>Get Inspired</a></h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <a href="/excited.html"><img alt="Excited Image" src="/img/excited_thumb.jpg"></a>
                    <h3 class="service-heading"><a href='/informed.html'>Get Informed</a></h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                   	<a href="/involved.html"><img alt="Involved Image" src="/img/involved_thumb.jpg"></a>
                    <h3 class="service-heading"><a href='/involved.html'>Get Involved</a></h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section CSB Version -->
    <section id="portfolio" class="bg-tan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">N-Counter Current News </h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div> <!-- end header -->
            
            <!-- Blog Section --> 
            <div id="portfolio-items" class="row"></div>
        </div> <!-- / container -->
    </section>

    <!-- Join Us Call to action section -->
    <section id="joinUs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us</h2>
                    <h3 class="section-subheading text-muted">Join us on Social Media and stay up to date on current and late breaking news!</h3>
                </div>
            </div>
            <!-- News Letter Area -->  
            <div class="col-md-12 text-center joinUsSpacing">
							<p class="joinUsNewsletter" rel="relativeanchor"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" target="_blank" class="newsLetter">News Letter Sign Up</a> </p>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <!-- Social Campaign -->  
            <div class="row text-center joinUsSpacing">
                <div class="col-md-3">
                		<p class="social-buttons"><a href="http://www.twitter.com/csbncounter" target="_blank"><i class="fa fa-twitter fa-4x"></i></a> </p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-3 joinUsSpacing">
                		<p class="social-buttons"><a href="https://www.facebook.com/CSBMinistries?fref=ts" target="_blank"><i class="fa fa-facebook fa-4x"></i></a> </p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-3 joinUsSpacing">
                		<p class="social-buttons"><a href="https://instagram.com/csbncounter/" target="_blank"><i class="fa fa-instagram fa-4x"></i></a> </p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-3 joinUsSpacing">
                		<p class="social-buttons"><a href="https://plus.google.com/u/0/102403965119926049149/about" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>	
            </div>
            
        </div>
    </section>
    
		<!-- 
		Modified Footer Version #5 
			**** Last Updated 4-20-2015 (Ben) Added All social media links****
		Code from: http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/ 
		-->

			<footer  id="footer" rel="relativeanchor">
				<div class="container">
					<div class="row, footer-distributed" >
			
					<!-- Footer-1 Social Media -->  
						<div class="footer-1">
							 <ul class="list-inline social-buttons socialFooterCentering">
									<li><a href="http://www.twitter.com/csbncounter" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.facebook.com/CSBMinistries?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://instagram.com/csbncounter/" target="_blank"><i class="fa fa-instagram"></i></a></li>
									<li><a href="https://plus.google.com/u/0/102403965119926049149/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
								</ul>
						</div> <!-- footer-1 -->
				
						<!-- Footer-2 News Letter Signup -->  
						<div class="footer-2">
							 <p class="newsletterFooterCentering"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" target="_blank" class="newsLetter">News Letter Sign Up</a> </p>
						</div> <!-- Footer-2 -->  
				
						<!-- Footer-3 Contact Information -->  
						<div class="footer-3">
							 <p class="thirdFooterCentering">
        	 			<a href="mailto:info@csbncounter.org?Subject=Website Contact" target="_top">info@csbncounter.org</a>
        	 			<br>
								<a href="https://www.google.com/maps?espv=2&biw=1363&bih=1140&q=200+Chapel+Rd,+Geigertown,+PA+19523&bav=on.2,or.r_cp.&bvm=bv.87611401,d.cWc&ion=1&um=1&ie=UTF-8&sa=X&ei=LCr9VKmIG_W_sQSVlIHQDw&ved=0CAYQ_AUoAQ" target="_blank">Event Location</a>
							 </p>    
						</div> <!-- Footer-3 -->  
				
						<!-- Footer-4 Image -->  
						<div class="footer-4">
							<p><a href="http://www.csbministries.org" target="_blank"><img alt="CSB Ministries logo" src="/img/csb_logo.png" width="150" height="auto"></a> </p>
						</div> <!-- Footer-4 -->  
				
					</div> <!-- row -->    
				</div> <!--container--> 
			</footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/underscore.min.js"></script>
	<!-- script for random images ** ONLY on index.html -->
	<script language="Javascript" type="text/javascript" src="js/newsImages.js"></script>
    <!-- Resizes the picture per window resize.  - Ben --> 
	<script language="Javascript" type="text/javascript" src="js/fullScreenPicture.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Scrolling JS - Ben -->
	<script src="js/smoothScroll.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    <!-- Trick for embedding "html" that isn't parsed into the DOM -->
    <script id="portfolio-item-tpl" type="text/html">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="<%- href %>" class="portfolio-link">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="<%- image %>" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4><%- title %></h4>
                <p class="text-muted"><%- date %></p>
            </div>
        </div>
    </script>
    <script>
        // Grab template from the trick script tag.
        var rawTemplate = $('#portfolio-item-tpl').html();

        // Compile the template into a Javacript function.
        // See http://underscorejs.org/#template
        var newsItemTpl = _.template(rawTemplate);

        // Dummy data.  This will be replaced with data fetched from the Google Blogger API.
        var newsItems = [{
            title: 'Post One',
            date: 'April 22, 2015',
            image: 'img/excited.jpg',
            href: 'inspired.html'
        }, {
            title: 'Post Two',
            date: 'April 12, 2015',
            image: 'img/inspired.jpg',
            href: 'informed.html'
        }, {
            title: 'Post Three',
            date: 'March 22, 2015',
            image: 'img/involved.jpg',
            href: 'involved.html'
        }];

        // Buffer the html for each portfolio item into an array.
        var newsItemsHtml = [];
        for (var i = 0; i < newsItems.length; i++) {
            var newsItem = newsItems[i];
            var newsItemHtml = newsItemTpl(newsItem);
            newsItemsHtml.push(newsItemHtml);
        }

        // Attach html for all portfolios at once.
        $('#portfolio-items').html(newsItemsHtml.join(''));
    </script>
</body>

</html>
