{{!
  page: 'inspired',
  pageName: 'Get Inspired'
}}

{{#> layout}}
{{#*inline "content"}}
<header class="inspired">
 <div class="opacity"> </div>
  <div class="container">
    <div class="intro-text">
       <!-- <div class="intro-lead-in"></div> Italic Text-->
      <div class="intro-heading opacityRaiser">Get Inspired</div>
      <div class="exploreButton">
        <a href="#description" title="Navigate through the rest of the page" rel="relativeanchor"> <i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a> <!-- Adds the downward arrow pointing to the next section. -->  
      </div>  
    </div>
  </div>
</header>

<section id="description" rel="relativeanchor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What is N-Counter?</h2>
    <h3 class="section-subheading text-muted">Once in a Battalion Career</h3>
      </div>
    </div>
    <div class="col-md-6 newspaper-padding">
      <p>N-Counter is a multi-regional CSB Battalion event, which aims to give Battalion guys a rare encounter with other Battalions from across the country.  Young men have been involved in their own group from day one; some have also participated with other Battalions in their region through annual Camp-O-Ramas.  This event is different, and comes once in a Brigadier’s career.</p>
      <p>The purpose of CSB N-Counter is to glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions.  It will take place over a single weekend, April 29 - May 1, 2016, at High Point Camp near Birdsboro, PA.</p>
      <p>Men who have mentored their Brigadiers toward following Him all year bring them to an event where Jesus is glorified in spirit and in truth.  They share in common the purpose of CSB, building godly men of today and tomorrow, by serving and leading others to become disciples across the generations.</p>
    </div>
    <div class="col-md-6 newspaper-padding">
      <p>Battalions from regions far and wide bring an activity, a skill, a challenge, or a competition to share with the others.  Every young man heads into a non-stop adventure of one new experience after the next together with old friends and new.  Think “everything that is awesome about Battalion” in one place for one weekend.</p>
      <p>In the evening, all gather under one roof for a passionate worship ceremony followed by an awe-inspiring outdoor torchlight and bonfire event that leaves no one without personally encountering God.  This year the theme is “Press On” based on Philippians 3:12-16.</p>
      <p>Without any other event to compare to, the only way to get a taste of N-Counter is to see for yourself what is proving to be even bigger in 2016.  Don’t miss this “once in a Battalion career” event.</p>
    </div>
  </div>
</section>

<section id="responses" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Responses from 2011</h2>
        <h3 class="section-subheading text-muted"></h3> <!-- Added for spacing -->                     
      </div>  
    </div>
    <div>
      <blockquote><i class="fa fa-quote-left fa-2x"></i>  This weekend was Fantastic! And was everything I expected and hoped to accomplish on a personal and organizational level."</blockquote>
      <blockquote class="blockquote-reverse">"The speaker was an encouragement. Also, the Bible studies solidified our commitment to our unit and 'sharpening' each other.  <i class="fa fa-quote-right fa-2x"></i></blockquote>
      <blockquote><i class="fa fa-quote-left fa-2x"></i>  Great weekend. I wish more of our guys could have come."</blockquote>
    </div>
  </div>
</section>

<!-- Facts from 2011 Section -->
<section id="facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Facts from 2011</h2>
        <h3 class="section-subheading text-muted"></h3> <!-- Added for spacing -->  
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 media">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/inspired/largeGroup.jpg" alt="">
            </div>
            <div class="timeline-panel media">
              <div class="timeline-body">
                <div>
                  <h4>A total of 472 young men attended the N-Counter 2011 event hosted at High Point Camp.</h4>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/inspired/battalion.jpg" alt="">
            </div>
            <div class="timeline-panel media">
              <div class="timeline-body">
                <div>
                  <h4>The 472 attendees represented 29 battalion units located throughout 7 States.</h4>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/inspired/praise.jpg" alt="">
            </div>
            <div class="timeline-panel media">
              <div class="timeline-body">
                <div>
                  <h4>Over the course of a weekend, 30 or more young men prayed to step out in faith and accept Christ to be their personal Lord and Savior.</h4>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" style="height:80px;">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/inspired/ceremony.jpg" alt="">
            </div>
            <div class="timeline-panel media">
              <div class="timeline-body">
                <div>
                  <h4>An induction ceremony was held for 4 new Heralds of Christ recipients and 3 new Heralds of Christ for Men recipients.</h4>
                </div>
              </div>
            </div>
          </li> <!-- Closes the Last 'li' element in the document. -->
        </ul> <!-- closes the 'unordered list' --> 
      </div>
    </div>
  </div>
</section>

<!-- Activities from 2011 Section -->
<section id="activities" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Activities from 2011</h2>
        <h3 class="section-subheading text-muted"></h3> <!-- Added for spacing -->                     
      </div>
    </div>
    <div class="table-responsive">
  <table class="table table-striped">
    <tr>
    <th>Event</th>
    <th>Unit</th> 
    <th>Church</th>
    <th>State</th>
    </tr>
    <tr>
    <td>Torch Lighting and Bonfire</td>
    <td>306</td> 
    <td>Cedar Crest Bible Fellowship, Allentown</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Fire Building without Matches</td>
    <td>467</td> 
    <td>Calvary Baptist Church, Bristol</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Support Staff for Saturday BBQ</td>
    <td>518</td> 
    <td>Randall Baptist Church, Williamsville</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Tomahawk Throw</td>
    <td>555</td> 
    <td>Forcey Memorial Church, Silver Spring</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>741</td> 
    <td>Open Bible Christian Ministries, Kingsville</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Airsoft Target Shooting</td>
    <td>997</td> 
    <td>Bethlehem Church, Randolph</td>
    <td>NJ</td>
    </tr>
    <tr>
    <td>Ultimate Frisbee</td>
    <td>1180</td> 
    <td>North-Mar CMA, Warren</td>
    <td>OH</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>1292</td> 
    <td>Calvary Evangelical Free, Essex Fells</td>
    <td>NJ</td>
    </tr>
    <tr>
    <td>ASE: Team Building</td>
    <td>1943</td> 
    <td>First Baptist, Tom's River</td>
    <td>NJ</td>
    </tr>
    <tr>
    <td>Orienteering</td>
    <td>2733</td> 
    <td>Trinity Bible Church, Rock Hill</td>
    <td>SC</td>
    </tr>
    <tr>
    <td>Winter Survival Skills</td>
    <td>2760</td> 
    <td>Allegheny Center Alliance, Pittsburgh</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>California Initiative</td>
    <td>3123</td> 
    <td>Central Valley</td>
    <td>CA</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>3560</td> 
    <td>Dix Hills Evangelical Free, Huntington Station</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Meteor Shower</td>
    <td>3698</td> 
    <td>Wesleyan Church of Hamburg</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Snowshoe/Biathlon</td>
    <td>4389</td> 
    <td>Woodlyn Baptist, Woodlyn</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Support Staff</td>
    <td>4743</td> 
    <td>Evangelical Presbyterian of Annapolis</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Classic Bicycles</td>
    <td>4889</td> 
    <td>Rutherford Bible Church</td>
    <td>NJ</td>
    </tr>
    <tr>
    <td>Sling Shot</td>
    <td>6153</td> 
    <td>Montgomery Baptist Church, Colmar</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Skeet Shooting</td>
    <td>6468</td> 
    <td>Chapelgate Presbyterian Church, West Friendship</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Boomerangs</td>
    <td>6831</td> 
    <td>Columbia Presbyterian Church, Columbia</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Bass Fishing/Casting</td>
    <td>6995</td> 
    <td>New Life in Christ Church, Fredericksburg</td>
    <td>VA</td>
    </tr>
    <tr>
    <td>Fly Fishing</td>
    <td>7077</td> 
    <td>Manor Presbyterian, Cochranville</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>7101</td> 
    <td>Spencerport Bible Church</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Soccer</td>
    <td>7117</td> 
    <td>Severna Park Evangelical Presbyterian</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>Kayak &amp; Canoe</td>
    <td>7655</td> 
    <td>Liberty Church PCA, Owings Mills</td>
    <td>MD</td>
    </tr>
    <tr>
    <td>BBQ Dinner</td>
    <td>7699</td> 
    <td>Crossroads Christian, East Aurora</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>7707</td> 
    <td>Evangelical Free Church of Montrose</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Trebuchet</td>
    <td>7758</td> 
    <td>Cornerstone Presbyterian, Kemblesville</td>
    <td>PA</td>
    </tr>
    <tr>
    <td>Boat Buildling</td>
    <td>7939</td> 
    <td>Lafayette Alliance Church</td>
    <td>NY</td>
    </tr>
    <tr>
    <td>Chaperones/Support Staff</td>
    <td>7967</td> 
    <td>Christian Faith Center, Bloomfield</td>
    <td>NJ</td>
    </tr>
  </table>
  </div>
</section>
{{/inline}}
{{/layout}}