{{!
  page: 'involved',
  pageName: 'Get Inspired'
}}

{{#> layout}}
{{#*inline "content"}}
<header class="involved">
 <div class="opacity"> </div>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading opacityRaiser">Get Involved</div>
      <div class="exploreButton">
        <a href="#prayer" title="Navigate through the rest of the page" rel="relativeanchor"> <i fa class="fa-arrow-down fa-4x opacityRaiser"></i></a> <!-- Adds the downward arrow pointing to the next section. -->  
              </div>                 
    </div>
  </div>
</header>

<section id="prayer" rel="relativeanchor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Pray with Us</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom: 0px;">Prayer is first among our needs.</h3>
      </div>
      
      <div>
        <div class="col-lg-7">
        <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KbDuoT4-HWc?rel=0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12 speaker-text-align">
                  <p class="visible-lg-block" style="height: 70px;"></p>
        <p class="video-text-padding">This is God’s event for the encouragement and unity of our Regions and Battalions, not to mention an intensely fun, deeply spiritual experience for our guys.  As such, only God can accomplish this.  Please join with us in prayer, specifically by registering for the <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" target="_blank">N-Counter Newsletter</a>.  Each month you will hear up to date prayer requests and praise reports.</p>
        <br>
        <p class="text-center"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" target="_blank" class="newsLetter">Newsletter Signup</a></p>
                </div>
              </div>  
    </div>
  </div>
</section>

<section id="donate" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Donate</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom: 0px;">Support our physical needs</h3>
      </div>
      
      <div class="col-lg-7">   
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoz8wlR9BBs?rel=0" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="col-lg-5 col-md-12 speaker-text-align">                     
        <p class="video-text-padding">
          <strong>The spiritual, social and personal benefits of the CSB N-Counter event proved to be profound</strong> in 2011.  Because of these great gains, the N-Counter Steering Committee wants to remove as many barriers as possible for Battalions to attend in 2016. The committee is committed to finding financial partners to help keep this event financially practical for all Battalions.
        </p>
        <p class="video-text-padding">
          <strong>Will you invest in this spiritually motivating event</strong> which has demonstrated lasting impact in the lives of young men and Battalion units gathering from many regions? The Steering Committee has determined the need of $20,000 in support beyond basic participant fees. We are currently at 25% of our need.
        </p>
        <p class="video-text-padding">
          <strong>We invite you to invest in the lives of young men.</strong> To partner in this great mission, follow <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRoSdWL9Dih85BN47tcEIuxvHO3iVYxvvxhHjRfLOeq662EvVVAEjqawDomKT1pbouRduX8qZUmbF0gDBaJGTYjc=" target="_blank">Donate</a> and look for <strong>Special Events 520 N-Counter 2016</strong>.
        </p>
        <br>
        <p class="text-center"><a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRoSdWL9Dih85BN47tcEIuxvHO3iVYxvvxhHjRfLOeq662EvVVAEjqawDomKT1pbouRduX8qZUmbF0gDBaJGTYjc=" target="_blank" class="newsLetter">Donate</a> </p>
      </div>
    </div>
  </div>
</section>
    
<!-- Stay Connected Call to action section -->
<section id="stayConnected">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Stay Connected</h2>
        <h3 class="section-subheading text-muted">Don’t miss a beat!  Stay up to date on developing news.</h3>
      </div>
    </div>
    <!-- News Letter Area -->  
    <div class="col-md-12 text-center joinUsSpacing">
            <p class="joinUsNewsletter" rel="relativeanchor" style="margin-top:0px;"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter Signup" target="_blank" class="newsLetter">Newsletter Signup</a> </p>
      <p class="text-muted">Our newsletter is the official place to receive the latest information.  Sign up now for monthly access to critical details, timelines for registration, and for prayer requests.</p>
    </div>
    <!-- Social Campaign -->  
    <div class="row text-center">
      <div class="col-md-3 joinUsSpacing">
          <p class="social-buttons"><a href="http://www.twitter.com/csbncounter" title="Twitter Link" target="_blank"><i class="fa fa-twitter fa-4x"></i></a> </p>
        <p class="text-muted">Add N-Counter excitement and news tidbits to your daily feed.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
          <p class="social-buttons"><a href="https://www.facebook.com/events/1751932415033325/" title="Facebook Link" target="_blank"><i class="fa fa-facebook fa-4x"></i></a> </p>
        <p class="text-muted">A great place to share with your friends for conversation, news, memories from 2011, and excitement for 2016.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
          <p class="social-buttons"><a href="https://instagram.com/csbncounter/" title="Instragram Link" target="_blank"><i class="fa fa-instagram fa-4x"></i></a> </p>
        <p class="text-muted">Pictures and video; perhaps the best way to capture N-Counter.</p>
      </div>
      <div class="col-md-3 joinUsSpacing">
          <p class="social-buttons"><a href="https://plus.google.com/u/0/102403965119926049149/about" title="Google + Link" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></p>
        <p class="text-muted">We haven’t forgotten you, Google+.</p>
      </div>  
    </div>
    
  </div>
</section>
{{/inline}}
{{/layout}}