{{!
  page: 'informed',
  pageName: 'Get Informed',
  events: [{
    image: '/img/informed/tomahawk-throw.jpg',
    event: 'Tomahawk Throw'
  }, {
    image: '/img/informed/soccer.jpg',
    event: 'Soccer'
  }, {
    image: '/img/informed/fly-fishing.jpg',
    event: 'Fly Fishing'
  }, {
    image: '/img/informed/sling-shot.jpg',
    event: 'Slingshot'
  }, {
    image: '/img/informed/orienteering.jpg',
    event: 'Orienteering'
  }, {
    image: '/img/informed/canoe-and-kayak.jpg',
    event: 'Canoe & Kayak'
  }, {
    image: '/img/informed/ultimate-frisbee.jpg',
    event: 'Ultimate Frisbee'
  }, {
    image: '/img/informed/skeet-shooting.jpg',
    event: 'Skeet Shooting'
  }, {
    image: '/img/informed/lots-of-eating.jpg',
    event: 'Lots of Eating'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  <section id="content-start" rel="relativeanchor">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Details</h2>
        <h3 class="section-subheading text-muted"></h3> <!-- Added for spacing --> 
      </div>
      <div>
        <p>
          N-Counter 2016 will take place on the weekend of <strong>April 29 - May 1, 2016</strong> at <strong>High Point Camp</strong> near <strong>Birdsboro, PA</strong>.  Lodging will be Camp-O-Rama-style tent camping.  In addition, A-frame cabins are available as well as other arrangements for special circumstances.  <strong>All meals will be included!</strong>  There is no need to bring or cook your food!
        </p>
        <p>
          Every battalion has something worth sharing!  All activities will be sponsored by individual Battalion units.  Think now about what activity your Battalion can bring!  Contact your Regional Director with your interest and sign up with our <a href="mailto:info@csbncounter.org?Subject=Attn: Program Director" target="_top">Program Director</a>.  His team will help you decide on which activitiy will best fit the site and schedule.  The very best way to stay informed, however, is to sign up for our <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" target="_blank">N-Counter Newsletter</a>!
        </p>
      </div>      
    </div>
  </section>

  <section id="Press_On" class="bg-tan">
    <div class="container">
     <div class="col-lg-12 text-center">
      <h2 class="section-heading">Press On</h2>
      <h3 class="section-subheading text-center text-muted">Philippians 3:12-16</h3>        
    </div>
    <div>
      <p>
        12 Not that I have already obtained all this, or have already arrived at my goal, but I press on to take hold of that for which Christ Jesus took hold of me. 13 Brothers and sisters, I do not consider myself yet to have taken hold of it. But one thing I do: Forgetting what is behind and straining toward what is ahead, 14 I press on toward the goal to win the prize for which God has called me heavenward in Christ Jesus.
      </p>
      <p>
        <i>Press on</i>.  You'll see it on our brochures, T-shirts and patch emblems.  Dare we trust God to see this challenge working in our lives?
      </p>
      <p>
        Look at what Paul is saying: he presses on toward something, a goal, a mark, a finish. We are pressing on, reaching toward maturity, specifically spiritual maturity.  Yet, none of us is expected to press on alone.  There are always others who are called to press on with us, and we encourage one another, saying, “I am lighting your torch, and we will press on together.”
      </p>
    </div>
  </div>
  </section>

  <section id="guest_Speaker">
    <div class="container">
      <div class="col-lg-12 text-center">
       <h2 class="section-heading">Guest Speaker Chuck Stecker</h2>
     </div>
     <div class="row"> 
      <div class="col-md-6">                   
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yteeZy7vj2I?rel=0" allowfullscreen></iframe>
        </div>
      </div>     
      <div class="col-md-6 speaker-text-align">
        <p class="video-text-padding">
          Chuck Stecker returns as our speaker for this event.  In 2011, his message left a lasting impression on youth, collegiate, and leader alike.  He is a board member of CSB Ministries and shows a characteristic ability to relate to us in Brigade as he shares time with us throughout our event.  Chuck communicates and leads extraordinarily well in our unified experience of dedication to Christ and the mission of Christian Service Brigade.
        </p>
        <p class="video-text-padding">
          Chuck uniquely combines several years of business experience, 23 years of military service and over 10 years of full-time ministry equipping, training, empowering and releasing a new generation of leaders. He has a passion to see churches return to truly intergenerational communities and develop the clear pathways that keep young adults actively connected to their churches and see them develop into the leaders that will impact every area of our society.
        </p>
      </div>
    </div>
  </div>
  </section>

  <section id="portfolio" class="bg-tan">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Activities!</h2>
          <h3 class="section-subheading text-muted">What kind of activity can your Battalion bring?</h3>
        </div>
      </div>
      <div id="portfolio-items" class="row">
        {{#each events}}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <div class="portfolio-link">
              <div style="background-image: url({{image}}); background-size:cover;" class="portfolio-item-bg"></div>
            </div>
            <div class="portfolio-caption">
              <h4>{{event}}</h4>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
{{/inline}}
{{/layout}}