{{!
  page: 'support',
  pageName: 'Support',
  pageAction: ''
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Donate" subheading="Invest in Discipleship"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6">   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoz8wlR9BBs?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 speaker-text-align newspaper-padding">                     
      <p class="video-text-padding">
        <strong>The spiritual, social and personal benefits of the CSB N-Counter event proved to be profound</strong> in 2011.  Because of these great gains, the N-Counter Steering Committee wants to remove as many barriers as possible for Battalions to attend in 2016. The committee is committed to finding financial partners to help keep this event financially practical for all Battalions.
      </p>
      <p class="video-text-padding">
        <strong>Will you invest in this spiritually motivating event</strong> which has demonstrated lasting impact in the lives of young men and Battalion units gathering from many regions? The Steering Committee has determined the need of <strong>$20,000</strong> in support beyond basic participant fees. We are currently at <strong>60%</strong> of our need.
      </p>
      <p class="video-text-padding">
        <strong>We invite you to invest in the lives of young men.</strong> To partner in this great mission, follow <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRoSdWL9Dih85BN47tcEIuxvHO3iVYxvvxhHjRfLOeq662EvVVAEjqawDomKT1pbouRduX8qZUmbF0gDBaJGTYjc=" target="_blank">Donate</a> and look for <strong>Special Events 520 N-Counter 2016</strong>.
      </p>
      <div class="paragraph-action">
        <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRoSdWL9Dih85BN47tcEIuxvHO3iVYxvvxhHjRfLOeq662EvVVAEjqawDomKT1pbouRduX8qZUmbF0gDBaJGTYjc=" target="_blank" class="theme-button">Donate</a>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Pray with Us" subheading="Prayer N-Counter Team Strategy"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="announcement">   
      <p>
        Join with men from across the country to pray that God will work mightily through N-Counter 2016. Send an email to our prayer coordinator <a href="mailto:bobbyslinger@yahoo.com">BJ Slinger</a>. A long time CSB staffer, BJ is now a prayer coordinator for OMF, a missionary sending agency to East Asia.
      </p>
      <p>
        You'll receive regular updates with specifics on what you can pray for in unity with other men who share your passion for building godly men of today and tomorrow.  We need to know there are men participating in prayer support for N-Counter 2016.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}