{{!
  page: 'details',
  pageName: 'Details',
  pageAction: ''
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Location" subheading="April 29 - May 1, 2016<br>High Point Camp&mdash;Birdsboro, PA"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6430.408675710726!2d-75.85545314579781!3d40.20704528810586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c664ff717ebf95%3A0xa675e48863fd4d6f!2sHigh+Point+Camp!5e1!3m2!1sen!2sus!4v1453176603949" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>     
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Events" subheading="The Fun We Had"}}
  {{#* inline "content"}}
  <div class="row">
    <div id="activities" class="col-sm-12 media"></div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{#*inline "script"}}
<script id="activities-tpl" type="text/html">
  <table class="table table-striped">
    <tr>
    <th>Event</th>
    <th>Unit</th> 
    <th>Church</th>
    <th>State</th>
    </tr>
    <% for (i in data) {
      var activity = data[i];
    %>
      <tr>
      <td><%- activity.event %></td>
      <td><%- activity.unit %></td> 
      <td><%- activity.church %></td>
      <td><%- activity.state %></td>
      </tr>
    <% } %>
  </table>
</script>
<script>
  ncounter.liveData.fetchShowActivities('#activities-tpl', '#activities');
  ncounter.liveData.fetchShowActivitySuggestions('#activity-suggestions-tpl', '#activity-suggestions');
</script>
{{/inline}}
{{/layout}}