{{!
  page: 'details',
  pageName: 'Details',
  pageAction: ''
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Details" subheading="April 29 - May 1, 2016<br>High Point Camp&mdash;Birdsboro, PA"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6 newspaper-padding">
      <p>
        N-Counter 2016 will take place on the weekend of <strong>April 29 - May 1, 2016</strong> at <strong>High Point Camp</strong> near <strong>Birdsboro, PA</strong>.  Cost per individual is <strong>$75</strong> and includes a T-shirt, a commemorative patch, and all meals--from Friday night snack through Sunday breakfast.  Check in begins at <strong>6:00pm</strong> on Friday. Check out is after dismissal at <strong>11:00am</strong> Sunday.
      </p>
      <p>
        Units will camp as a group in either field tenting or rustic cabins (wood shell, no electric or heat). A bath house is in walking distance of both tenting and cabin areas.  Dormitory lodging will be available at an additional <strong>$10</strong>/person for those who require electric or indoor bathroom facilities.
      </p>
    </div>
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6430.408675710726!2d-75.85545314579781!3d40.20704528810586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c664ff717ebf95%3A0xa675e48863fd4d6f!2sHigh+Point+Camp!5e1!3m2!1sen!2sus!4v1453176603949" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>     
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Theme" subheading="Press On<br>Philippians 3:12-16"}}
  {{#* inline "content"}}
    <div class="row">
      <div class="col-md-4 newspaper-padding" style="text-align: center; margin-bottom: -20px">
        <img src="/assets/img/theme-patch.png" style="width: 300px; margin-bottom: 20px"/>
      </div>
      <div class="col-md-8 newspaper-padding">
        <p>
          <i>Press on</i>.  You'll see it on our brochures, T-shirts and patch emblems.  Dare we trust God to see this challenge working in our lives?
        </p>
        <p>
          Look at what Paul is saying: he presses on toward something, a goal, a mark, a finish. We are pressing on, reaching toward maturity, specifically spiritual maturity.  Yet, none of us is expected to press on alone.  There are always others who are called to press on with us, and we encourage one another, saying, “I am lighting your torch, and we will press on together.”
        </p>
      </div>
    </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Guest Speaker" subheading="Chuck Stecker"}}
  {{#* inline "content"}}
  <div class="row"> 
    <div class="col-md-6 speaker-text-align newspaper-padding">
      <p class="video-text-padding">
        Chuck Stecker returns as our speaker for this event.  In 2011, his message left a lasting impression on youth, collegiate, and leader alike.  He is a board member of CSB Ministries and shows a characteristic ability to relate to us in Brigade as he shares time with us throughout our event.  Chuck communicates and leads extraordinarily well in our unified experience of dedication to Christ and the mission of Christian Service Brigade.
      </p>
      <p class="video-text-padding">
        Chuck uniquely combines several years of business experience, 23 years of military service and over 10 years of full-time ministry equipping, training, empowering and releasing a new generation of leaders. He has a passion to see churches return to truly intergenerational communities and develop the clear pathways that keep young adults actively connected to their churches and see them develop into the leaders that will impact every area of our society.
      </p>
    </div>
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yteeZy7vj2I?rel=0" allowfullscreen></iframe>
      </div>
    </div>     
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}