{{!
  page: 'details',
  pageName: 'Details',
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Details" subheading="April 29 - May 1, 2016<br>High Point Camp&mdash;Birdsboro, PA"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6irljryiIuU?rel=0" allowfullscreen></iframe>
      </div>
    </div>     
    <div class="col-md-6 newspaper-padding">
      <p>
        N-Counter 2016 will take place on the weekend of <strong>April 29 - May 1, 2016</strong> at <strong>High Point Camp</strong> near <strong>Birdsboro, PA</strong>.  Cost per individual is <strong>$75</strong> and includes a T-shirt, a commemorative patch, and all meals--from Friday night snack to Sunday breakfast.
      </p>
      <p>
        Units will camp as a group in either field tenting or rustic cabins (wood shell, no electric or heat). A bath house is in walking distance of both tenting and cabin areas.  Dormitory lodging will be available at an additional <strong>$10</strong>/person for those who require electric or indoor bathroom facilities.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Press On" subheading="Theme<br>Philippians 3:12-16"}}
  {{#* inline "content"}}
    <div class="row">
      <div class="col-md-6 newspaper-padding">
        <p>
          12 Not that I have already obtained all this, or have already arrived at my goal, but I press on to take hold of that for which Christ Jesus took hold of me. 13 Brothers and sisters, I do not consider myself yet to have taken hold of it. But one thing I do: Forgetting what is behind and straining toward what is ahead, 14 I press on toward the goal to win the prize for which God has called me heavenward in Christ Jesus.
        </p>
      </div>
      <div class="col-md-6 newspaper-padding">
        <p>
          <i>Press on</i>.  You'll see it on our brochures, T-shirts and patch emblems.  Dare we trust God to see this challenge working in our lives?
        </p>
        <p>
          Look at what Paul is saying: he presses on toward something, a goal, a mark, a finish. We are pressing on, reaching toward maturity, specifically spiritual maturity.  Yet, none of us is expected to press on alone.  There are always others who are called to press on with us, and we encourage one another, saying, “I am lighting your torch, and we will press on together.”
        </p>
      </div>
    </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Chuck Stecker" subheading="Guest Speaker"}}
  {{#* inline "content"}}
  <div class="row"> 
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yteeZy7vj2I?rel=0" allowfullscreen></iframe>
      </div>
    </div>     
    <div class="col-md-6 speaker-text-align newspaper-padding">
      <p class="video-text-padding">
        Chuck Stecker returns as our speaker for this event.  In 2011, his message left a lasting impression on youth, collegiate, and leader alike.  He is a board member of CSB Ministries and shows a characteristic ability to relate to us in Brigade as he shares time with us throughout our event.  Chuck communicates and leads extraordinarily well in our unified experience of dedication to Christ and the mission of Christian Service Brigade.
      </p>
      <p class="video-text-padding">
        Chuck uniquely combines several years of business experience, 23 years of military service and over 10 years of full-time ministry equipping, training, empowering and releasing a new generation of leaders. He has a passion to see churches return to truly intergenerational communities and develop the clear pathways that keep young adults actively connected to their churches and see them develop into the leaders that will impact every area of our society.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}