.footer-distributed{
    background-color: #366B73;
    box-sizing: border-box;
    text-align:center;
    font:"N-Counter Paragraph";
}

.footer-distributed .footer-1,
.footer-distributed .footer-2,
.footer-distributed .footer-3,
.footer-distributed .footer-4{
    display: inline-block;
    vertical-align: middle;
}

.footer-1{
    width:23%;
    height:70px;
    position: relative;
}

.footer-2{
    width:23%;
    height:70px;    
    position: relative; 
}

.footer-3{
    width:23%;
    position: relative; 
}

.footer-4{
    width:23%;
    position: relative; 
}

.socialFooterCentering{
    margin-top: 15px;
}

.newsletterFooterCentering{
    margin-top: 13px;
}

.thirdFooterCentering{
    margin-top: 5px;
}
/* - This query is a little large, but keeps the newsletter button on a single line and doesn't break it up. */

@media (max-width: 1000px) {
  .footer-distributed .footer-1,
    .footer-distributed .footer-2,
    .footer-distributed .footer-3,
    .footer-distributed .footer-4{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }   
}