/* video margin */
.embed-responsive {
   margin-bottom: 50px; 
}

.paragraph-action {
  padding-top: 20px;
  text-align: center;
}

.speaker-text-align {
/*  margin-top:75px;
  margin-bottom:75px;
*/}

/* This is used on inspired.html to allow for newspaper look */
.newspaper-padding {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Heading Padding to achieve the 75px that the section-subheading provides. */

/* Video Text Padding */
.video-text-padding{
  padding-left: 2px;
  padding-right: 2px;
}

.activePage{
  background-color: #f0644b;
}

.theme-button {
  display: inline-block;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  background: #f0644b;
  border: none;
  padding: 10px 22px 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.theme-button:hover {
  background-color: #d85a43;
  text-decoration: none;
  color: #ffffff;
}

.theme-button:focus,
.theme-button:active {
  outline: 0;
  color: #fff;
  text-decoration: none;
}

/* informed image news */
.informed-image-news{
  height: 289px;
  width: 386px;
  background-size: cover;
  background-position: center center;
  margin:2px;
  
}

/* Informed Portfolio Spacing Modification */
.col-md-4Image, 
.col-sm-6Image{
  position: relative;
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
}

@media (min-width: 992px) {
  .col-md-4Image, 
  .col-sm-6Image{
    float: left;
  }
  
  .col-md-6Image {
    width: 50%;
  }
  
  .col-md-4Image{
    width: 33.33333333%;
  }
}

.strong-statement {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
}

.news-show-more-wrapper {
  margin-top: 20px;
  text-align: center;
}
