{{!
  page: 'events',
  pageName: 'Events',
  pageAction: ''
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Purposeful Events" subheading="A Battalion Vision for Fun"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6 newspaper-padding" id="registration-stats">
      <p>
        In addition to the excitement and camaradie around thrilling events, the vision for N-Counter is to have each event presented in true Battalion style, with a spritual purpose.
      </p>
      <p>
        At the first N-Counter in 2011, we asked units to present their event along with at least one
        of several key spiritual elements.  For N-Counter 2016, we’d like units to focus on a <strong>character trait</strong> as those found in Battalion weekly meeting plans.  For each <strong>45 minute</strong> activity, we are asking that the unit leaders use up to <strong>5 minutes</strong> to present the character trait and a verse, relating the trait from the Bible to life and to the activity.
      </p>
      <p>
        Everything we do the weekend of N-Counter 2016 will ultimately glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions, and our events will be no different.
      </p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6irljryiIuU?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Confirmed Events" subheading="What to Expect So Far"}}
  {{#* inline "content"}}
  <div class="row">
    <div id="activities" class="col-sm-12 media"></div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Event Suggestions" subheading="Haven't chosen yet?"}}
  {{#* inline "content"}}
  <div lass="row">
    <div id="activity-suggestions" class="col-sm-12 media"></div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{#*inline "script"}}
<script id="activities-tpl" type="text/html">
  <table class="table table-striped">
    <tr>
    <th>Event</th>
    <th>Unit</th> 
    <th>Church</th>
    <th>State</th>
    </tr>
    <% for (i in data) {
      var activity = data[i];
    %>
      <tr>
      <td><%- activity.event %></td>
      <td><%- activity.unit %></td> 
      <td><%- activity.church %></td>
      <td><%- activity.state %></td>
      </tr>
    <% } %>
  </table>
</script>
<script id="activity-suggestions-tpl" type="text/html">
  <table class="table table-striped">
    <tr>
    <th>Event Suggestion</th>
    <th>Notes</th> 
    </tr>
    <% for (i in data) {
      var activitySuggestion = data[i];
    %>
      <tr>
      <td><%- activitySuggestion.event %></td>
      <td><%- activitySuggestion.notes %></td> 
      </tr>
    <% } %>
  </table>
</script>
<script>
  ncounter.liveData.fetchShowActivities('#activities-tpl', '#activities');
  ncounter.liveData.fetchShowActivitySuggestions('#activity-suggestions-tpl', '#activity-suggestions');
</script>
{{/inline}}
{{/layout}}
