{{!
  page: 'about',
  pageName: '',
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}
  
  {{#> pageSection heading="What is N-Counter?" subheading="Once in a Battalion Career" sectionClass=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12">
      <div id="n-counter-video" class="ncounter-purpose announcement">The purpose of N-Counter is to glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions.</div>
    </div>
    <div class="col-md-6 newspaper-padding">
      <p>
        Battalions from regions far and wide bring an activity, a skill, a challenge, or a competition to share with the others.  Every young man heads into a non-stop adventure of one new experience after the next together with old friends and new.  Think “everything that is awesome about Battalion” in one place for one weekend.
      </p>
      <p>
        In the evening, all gather under one roof for a passionate worship ceremony followed by an awe-inspiring outdoor torchlight and bonfire event that leaves no one without personally encountering God.  This year the theme is “Press On” based on Philippians 3:12-16.
      </p>
      <p>
        Without any other event to compare to, the only way to get a taste of N-Counter is to see for yourself what is proving to be even bigger in 2016.  Don’t miss this “once in a Battalion career” event.
      </p>
    </div>
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GBrkLl1Kq-w?rel=0" allowfullscreen=""></iframe>
      </div>
    </div>     
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Theme" subheading="Press On<br>Philippians 3:12-16" sectionClass=""}}
  {{#* inline "content"}}
    <div class="row">
      <div class="col-md-4 newspaper-padding" style="text-align: center; margin-bottom: -20px">
        <img src="/assets/img/theme-patch.png" style="width: 300px; margin-bottom: 20px"/>
      </div>
      <div class="col-md-8 newspaper-padding">
        <p>
          <i>Press on</i>.  You'll see it on our brochures, T-shirts and patch emblems.  Dare we trust God to see this challenge working in our lives?
        </p>
        <p>
          Look at what Paul is saying: he presses on toward something, a goal, a mark, a finish. We are pressing on, reaching toward maturity, specifically spiritual maturity.  Yet, none of us is expected to press on alone.  There are always others who are called to press on with us, and we encourage one another, saying, “I am lighting your torch, and we will press on together.”
        </p>
      </div>
    </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Guest Speaker" subheading="Chuck Stecker" sectionClass=""}}
  {{#* inline "content"}}
  <div class="row"> 
    <div class="col-md-6">                   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yteeZy7vj2I?rel=0" allowfullscreen></iframe>
      </div>
    </div>     
    <div class="col-md-6 speaker-text-align newspaper-padding">
      <p class="video-text-padding">
        Chuck Stecker returns as our speaker for this event.  In 2011, his message left a lasting impression on youth, collegiate, and leader alike.  Closely connected with CSB Ministries, Chuck shows a characteristic ability to relate to us in Brigade as he shares time with us throughout our event.  Chuck communicates and leads extraordinarily well in our unified experience of dedication to Christ and the mission of Christian Service Brigade.
      </p>
      <p class="video-text-padding">
        Chuck uniquely combines several years of business experience, 23 years of military service and 15 years of full-time ministry equipping, training, empowering and releasing a new generation of leaders. He has a passion to see churches return to truly intergenerational communities and develop the clear pathways that keep young adults actively connected to their churches and see them develop into the leaders that will impact every area of our society.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Purposeful Events" subheading="A Battalion Vision for Fun" sectionClass=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6 newspaper-padding" id="registration-stats">
      <p>
        In addition to the excitement and camaradie around thrilling events, the vision for N-Counter is to have each event presented in true Battalion style, with a spritual purpose.
      </p>
      <p>
        At the first N-Counter in 2011, we asked units to present their event along with at least one
        of several key spiritual elements.  For N-Counter 2016, we’d like units to focus on a <strong>character trait</strong> as those found in Battalion weekly meeting plans.  For each <strong>40 minute</strong> activity, we are asking that the unit leaders use up to <strong>5 minutes</strong> to present the character trait and a verse, relating the trait from the Bible to life and to the activity.
      </p>
      <p>
        Everything we do the weekend of N-Counter 2016 will ultimately glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions, and our events will be no different.
      </p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6irljryiIuU?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}