{{!
  page: 'register',
  pageName: 'Register',
  pageAction: '',
  faqs: [{
    q: 'I have already registered my unit, but I want to add someone else. What do I do?',
    a: 'Follow the appropriate registration instructions for the current date.'
  }, {
    q: 'Can I substitute someone instead of a registered individual?',
    a: 'This is possible at no charge. Simply <a href="mailto:info@csbncounter.org">email the Registrar</a> as soon as possible.  For last-minute changes, inform the Registrar at check-in.'
  }, {
    q: 'I am bringing fewer individuals than I registered. What happens now?',
    a: 'Following the weekend, $45/person will be refunded for those who did not show.  This is less $30/person for irrecoverable costs.'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Individual and Battalion Roster Registration" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">   
      <p class="announcement">
        Registration is <strong>now open</strong> for individuals and Battalion rosters.  Depending on the date you register, there may be alternate instructions or a late fee.  Please refer to the grid below, starting with the timeframe based on the current date.
      </p>
      <table class="table table-striped announcement-table">
        <thead>
          <th>Timeframe</th>
          <th>I want to register</th>
          <th>I have aready registered</th>
        </thead>
        <tbody>
          <tr>
            <td>Through March 25</td>
            <td><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank">Register online</a> for $75/person.</td>
            <td>Mail payment postmarked April 1. Include church's Certificate of Liability in mailing.</td>
          </tr>
          <tr>
            <td>March 26 - April 22</td>
            <td><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank">Register online</a> for $85/person ($10 surcharge).</td>
            <td>Mail payment postmarked April 22. Include church's Certificate of Liability if not already submitted.</td>
          </tr>
          <tr>
            <td>April 23 - April 29</td>
            <td><a href="mailto:info@csbncounter.org">Email Registrar</a> for $85/person ($10 surcharge).</td>
            <td>Hand check to Registrar at check-in on Friday, April 29.</td>
          </tr>
        </tbody>
      </table>
      <div class="paragraph-action">
        <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank" class="theme-button">Register Now</a>
      </div>
      <p class="announcement">
        <strong>Due at check-in</strong>: Folder of signed <a href="/resources/">permission forms</a>, one for each adult and youth.  For additional questions, please refer to the Registration FAQ.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Registration FAQ" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">   
      {{#each faqs}}
      <div class="faq">
        <dt class="faq__question">
          <span class="faq__heading">Q:</span>
          <span class="faq__text">{{q}}</span>
        </dt>
        <dd class="faq__answer">
          <span class="faq__heading">A:</span>
          <span class="faq__text">{{{a}}}</span>
        </dd>
      </div>
      {{/each}}
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

{{/inline}}
{{/layout}}