{{!
  page: 'register',
  pageName: 'Register',
  pageAction: 'Unit Registration Deadline Now Extended',
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Battalion Unit Registration" subheading="Reserve your spot today!"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-6">   
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vh9Xo8BlIMo?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 speaker-text-align newspaper-padding">                     
      <h4 class="first-heading">Register Now</h4>
      <p class="video-text-padding">
        April 29 is quickly approaching. Register your Battalion <strong>now</strong> to lock in your spot and to help us plan the greatest possible event. The deadline to register your unit has been extended to <strong>January 28, 2016</strong>.
      </p>
      <h4>Propose an Activity</h4>
      <p class="video-text-padding">
        One of the great features of the N-Counter experience are the diverse activities brought by each Battalion. Part of your Battalion Unit Registration includes a spot to propose and describe the event you would like to present at N-Counter 2016.  See <a href="/events">Events</a> for suggestions.
      </p>
      <h4>Submit an Accommodation Preference</h4>
      <p class="video-text-padding">
        With all of the awesome activities, little time will be spent in your quarters. Tent camping is the norm, but limited spaces are available in-doors. We want you to have the best experience possible. Mark your accommodation preference on your Battalion Unit Registration.
      </p>
      <div class="paragraph-action">
        <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ebquarw6f022e7c8&oseq=&c=&ch=" target="_blank" class="theme-button">Register Your Unit</a>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Individual Registrations" subheading="Coming early 2016"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">   
      <p class="announcement" style="text-align: center">
        Individiual registration will open shortly.
      </p>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

{{/inline}}
{{/layout}}