{{!
  page: 'register',
  pageName: 'Register',
  pageAction: '',
  faqs: [{
    q: 'How do I obtain a church Certificate of Liability Insurance?',
    a: 'Request this from your church office. Certificate Holder: <em>High Point Camp, CSB N-Counter</em>. It should be a one page document. Please mail along with your check.'
  }, {
    q: 'I have already registered my Battalion roster, but I want to add someone else. What do I do?',
    a: 'Submit a new registration according the instructions for the current timeframe, regardless of the Battalion roster submission date.  Each new registration, however, must use a different email address as the system will only allow a single registration per email address.'
  }, {
    q: 'Can I substitute an unregistered person for someone already registered?',
    a: 'Yes, substitutions can be made without penalty. Simply <a href="mailto:info@csbncounter.org">email the Registrar</a> as soon as possible.  For last-minute changes, inform the Registrar at check-in.  (Don\'t forget to bring the substituted permission form!)'
  }, {
    q: 'I am bringing fewer individuals than I registered. Do I receive a refund?',
    a: 'Following the weekend, registration cost will be refunded for each person that could not attend after subtracting $30/each in irrecoverable costs.'
  }, {
    q: 'Why are we not using an online payment such as credit card or PayPal? Wouldn\'t it have been easier?',
    a: 'It would certainly have been easier on the administrative end.  However, in our attempt to keep the cost down for everyone, we chose to avoid PayPal/credit card processing fees.'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Individual and Battalion Roster Registration" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="announcement">   
      <p>
        Registration is open for individuals and Battalion rosters.  Refer to the grid below and follow the instructions for the current date.  <strong>Please note, the final registration date is now April 10.</strong>
      </p>
      <table class="table table-striped announcement-table">
        <thead>
          <th>Timeframe</th>
          <th>I want to register</th>
          <th>Now that I have registered</th>
        </thead>
        <tbody>
          <tr>
            <td>Through March 25</td>
            <td><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank">Register online</a>.</td>
            <td>Mail single check postmarked on or before <strong>April 1</strong>. Battalion rosters, include church's Certificate of Liability in mailing (see Registration FAQ).</td>
          </tr>
          <tr>
            <td>March 26 - April 10</td>
            <td><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank">Register online</a> (plus $10/person surcharge).</td>
            <td>Mail single check postmarked on before <strong>April 15</strong>. Battalion rosters, include church's Certificate of Liability if not already submitted (see Registration FAQ).</td>
          </tr>
        </tbody>
      </table>
      <p class="announcement">
        <strong>Due at check-in</strong>: Folder of signed <a href="/resources/">permission forms</a>, one for each adult and youth.  For additional questions, please refer to the Registration FAQ.
      </p>
      <div class="paragraph-action">
        <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ec3bqglo1051ed63" target="_blank" class="theme-button">Register Now</a>
      </div>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Registration FAQ" subheading=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="announcement">   
      {{#each faqs}}
      <div class="faq">
        <dt class="faq__question">
          <span class="faq__heading">Q:</span>
          <span class="faq__text">{{q}}</span>
        </dt>
        <dd class="faq__answer">
          <span class="faq__heading">A:</span>
          <span class="faq__text">{{{a}}}</span>
        </dd>
      </div>
      {{/each}}
    </div>
    <p class="short-announcement">
      Still have questions?  Email the registrar, <a href="mailto:info@csbncounter.org">info@csbncounter.org</a>.
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

{{/inline}}
{{/layout}}