{{!
  page: 'register',
  pageName: 'Register',
}}

{{#> layout}}
{{#*inline "content"}}
  {{> pageHeader }}

  {{#> pageSection heading="Battalion Unit Registration" subheading="Reserve your spot today!"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12">
      Hello
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}
{{/layout}}