<header class="{{page}}">
 <div class="opacity"> </div>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading opacityRaiser">{{pageName}}</div>
      <div class="exploreButton">
        <a href="#content-start" title="Navigate through the rest of the page" rel="relativeanchor">
          <i class="fa fa-arrow-down fa-4x opacityRaiser"></i>
        </a>
      </div>  
    </div>
  </div>
</header>
<div id="content-start" rel="relativeanchor"></div>