{{!
  page: 'home',
  pageName: ''
}}

{{#> layout}}
{{#*inline "content"}}
  <header>
    <div class="opacity"></div>
    <div class="container">
      <div class="intro-text">
        <img class="landingPageLogo" src="/assets/img/branding/NCounterLogoBlue_200px.png" alt="CSB N-Counter Logo">
        <br><br><br><br><br>
        <div class="exploreButton">  
          <h3 style="color:#fff;">THANK YOU ALL FOR AN INCREDIBLE EVENT<br>Watch the weekend recap!</h3>
          <a href="#content-start" rel="relativeanchor" title="Navigate through the rest of the page" ><i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a>
        </div>
      </div>
    </div>
  </header>
  <div id="content-start" rel="relativeanchor">


  {{#> pageSection heading="N-Counter 2016" subheading="The Multi-Regional Battalion Event" sectionClass="home-callouts-wrapper"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12 short-announcement" id="registration-stats"></div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7VYJA0peTVE?rel=0" allowfullscreen=""></iframe>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="N-Counter Current News" subheading="Latest Announcements, Prayer Requests, and Event Details" sectionClass=""}}
  {{#* inline "content"}}
  <div id="news" class="row"></div>
  <div class="row">
    <div class="col-sm-12 news-show-more news-show-more-wrapper">
      <button class="theme-button">Show Older Posts</button>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}
{{/inline}}

{{#*inline "script"}}
<script id="news-item-tpl" type="text/html">
  <div class="col-md-4 col-sm-6 news-item">
    <a href="<%- url %>" class="news-link">
      <div class="news-hover"></div>
      <div style="background-image: url(<%- image %>); background-size: <%- imageSize %>;" class="news-item-bg"></div>
    </a>
    <div class="news-caption">
      <h4><a href="<%- url %>"><%- title %></a></h4>
      <p class="text-muted"><%- published %></p>
    </div>
  </div>
</script>
<script id="registration-stats-tpl" type="text/html">
  <div style="text-align:justify;max-width: 700px;margin-left:auto;margin-right:auto;line-height:1.6em">
  <p>
    <strong><%- data.registered %> registrants</strong> came from <strong><%- data.states %> states</strong>, representing <a href="/events"><strong><%- data.units %> units</strong></a>.  We thank all for their participation!
  </p>
  <p>
  Memories are overflowing, especially of the fellowship with brothers in the Lord.  Join us in these memories through the weekend recap video, just a small taste of what we experienced together in April at High Point Camp.
  </p>
  <p>
  Let us now continue to <em>Press On</em> together, as not just a Moment, but a Momentum--a Movement.
  </p>
  </div>
</script> 
<script>
  ncounter.home.setRandomBgImage('header');
  ncounter.news.fetchShowFirstPage('#news-item-tpl', '#news')
    .then(function (hasMore) {
      if (hasMore) {
        $('.news-show-more-wrapper').show()
      } else {
        $('.news-show-more-wrapper').hide()
      }
    });
  $('.news-show-more').click(function () {
    ncounter.news.fetchShowNextPage()
      .then(function (hasMore) {
        if (hasMore) {
          $('.news-show-more-wrapper').show()
        } else {
          $('.news-show-more-wrapper').hide()
        }
      });
  });
  ncounter.liveData.fetchShowRegistrationStats('#registration-stats-tpl', '#registration-stats');
</script>
{{/inline}}
{{/layout}}