.navbar-default {
  border-color: transparent;
  background-color: #344259; /*Originally: 222 */
}

.navbar-default .navbar-brand {
  font-family: "N-Counter Heading";
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #f0644b;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
  border-color: #f0644b;
  background-color: #f0644b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f0644b;  
}




/* Letter Spacing Modified ***** */
.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "N-Counter Heading";
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #f0644b;
}

.navbar-default .nav li .activePage:hover,
.navbar-default .nav li .activePage:focus {
  color: #fff;
  background-color: #f0644b;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #f0644b;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #f0644b;
}

@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #344259;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    word-wrap: break-word;
  }
}

.navbar-right{
  font-size: 20px;
}

.navbar-brand{
  padding:0px;
}

footer {
    background-color:#366B73;
  padding: 50px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: "N-Counter Paragraph";
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: "N-Counter Paragraph";
  line-height: 40px;
}

footer .social-buttons {
  margin-bottom: 0;
}

footer .social-buttons a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

footer .social-buttons a:hover,
footer .social-buttons a:focus,
footer .social-buttons a:active {
  background-color: #f0644b;
}