<section>
  <div class="container {{sectionClass}}">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">{{heading}}</h2>
        {{#if subheading}}<h3 class="section-subheading text-muted">{{{subheading}}}</h3>{{/if}}
      </div>
    </div>
    {{#> content}}
    {{/content}}
  </div>
</section>