<section id="stayConnected">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">Stay Connected</h2>
        <h3 class="section-subheading text-muted">Don’t miss a beat!<br>Stay up to date on developing news.</h3>
      </div>
    </div>
    <div class="col-md-12 text-center join-us-newletter">
      <p class="text-muted strong-statement">Our newsletter is the official place to receive the latest information.  Sign up now for monthly access to critical details, timelines for registration, and for prayer requests.</p>
      <p class="join-us-newsletter-button" rel="relativeanchor">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter Signup" target="_blank" class="theme-button">Newsletter Signup</a>
      </p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 join-us-methods">
        <p class="social-buttons"><a href="http://www.twitter.com/csbncounter" title="Twitter Link" target="_blank"><i class="fa fa-twitter fa-4x"></i></a> </p>
        <p class="text-muted">Add N-Counter excitement and news tidbits to your daily feed.</p>
      </div>
      <div class="col-md-3 col-sm-6 join-us-methods">
        <p class="social-buttons"><a href="https://www.facebook.com/events/1751932415033325/" title="Facebook Link" target="_blank"><i class="fa fa-facebook fa-4x"></i></a> </p>
        <p class="text-muted">A great place to share with your friends for conversation, news, memories from 2011, and excitement for 2016.</p>
      </div>
      <div class="col-md-3 col-sm-6 join-us-methods">
        <p class="social-buttons"><a href="https://instagram.com/csbncounter/" title="Instragram Link" target="_blank"><i class="fa fa-instagram fa-4x"></i></a> </p>
        <p class="text-muted">Pictures and video; perhaps the best way to capture N-Counter.</p>
      </div>
      <div class="col-md-3 col-sm-6 join-us-methods">
        <p class="social-buttons"><a href="https://plus.google.com/u/0/102403965119926049149/about" title="Google + Link" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></p>
        <p class="text-muted">We haven’t forgotten you, Google+.</p>
      </div>  
    </div>
  </div>
</section>